<div class="card text-center">
    <div class="card-header">
        <h2 class="card-title">Menú del día</h2>
    </div>
    <div class="card-body">

        <div class="row">
            <div class="col-md-3 col-xs-3 col-3 m-6" *ngFor="let item of packageList">
                <div class="thumbnail">
                    <h4 class="text-center"><span class="label label-info">{{item.packageName}}</span></h4>
                    <img [src]="getPath(item.img)" class="img-responsive imgPackages">
                    <div class="caption">
                        <div class="row">
                            <div class="col-md-12 col-xs-12 price">
                                <h3>
                                    <label>{{item.price|currency}}</label>
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-xs-12">
                                <h3>{{item.description}}</h3>
                            </div>
                        </div>
                        <ul>
                            <li *ngFor="let prod of item.products">{{prod.productName}}</li>
                            <li> <a href="#" class="btn btn-success btn-product"><span
                                        class="glyphicon glyphicon-shopping-cart"></span> Agregar</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>

        <h2>Nuestros productos</h2>

        <div class="row">
            <div class="col-4" style="text-align:left ;" *ngFor="let item of productList">
                <div class="row">
                    <div class="col-4"> {{item.productName}}</div>
                    <div class="col-4"> {{item.salePrice|currency}}</div>
                    <div class="col-4"> <input type="checkbox" class="chkProduct"></div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <hr>
        <h2>Productos seleccionados para ordenar</h2>
        <div class="row">
            <div class="col-12">
                <table class="table" style="width: 100%; text-align:left ;">
                    <thead>
                        <tr>
                            <th>
                                Producto
                            </th>
                            <th>
                                Cantidad
                            </th>
                            <th>
                                Precio
                            </th>
                            <th>
                                Total
                            </th>
                            <th>
                                Remover
                            </th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Sopa de pasta <br>
                                <label style="font-size: 12px;">sopa de pasta con guisado</label>
                            </td>
                            <td>                              
                                <label style="font-size: 12px;">sopa de pasta con guisado</label>
                            </td>
                            <td style="width: 180px;">
                                2 <br>
                            </td>
                            <td style="width: 180px;">
                                $100.00 <br>
                            </td>
                            <td style="width: 100px;">
                                <input type="checkbox">
                            </td>
                        </tr>                       
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-3">

            </div>

        </div>
        <br>
        <br>
        <hr>
        <div class="row" style="text-align:left">
            <div class="col-3">
                <div class="form-group">
                    <label for="">Teléfono</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Hora de entrega</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Tipo de pago</label>
                    <select name="" id="" class="form-control">
                        <option value="">Tarjeta</option>
                        <option value="">Efectivo</option>
                        <option value="">Credito</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="">Recoger en sucursal?</label> &nbsp; &nbsp;
                    <input type="checkbox">
                </div>
            </div>
            <div class="col-5">
                <h2>Gracias por ser nuestro cliente</h2>
                <br>
                <label for="">Omar ceron ochoa</label>
                <br>
                <label for="">omarbs13@gmail.com</label>
                <br>
                <label for="">Saldo: $ 100.00</label>
            </div>
        </div>
    </div>
    <div class="card-footer text-muted">
        <div style="text-align: right;">
            <button type="button" class="btn btn-danger">Cancelar</button>&nbsp; &nbsp;
            <button class="btn btn-success">Hacer pedido</button>
        </div>

    </div>
</div>