<div class="card text-center">
    <div class="card-header">
        <h2 class="card-title">Menú del día</h2>
    </div>
    <div class="card-body">
       
        <div class="row">
            <div class="col-md-3 col-xs-3 col-3 m-6">
                <div class="thumbnail">
                    <h4 class="text-center"><span class="label label-info">Especial de la casa</span></h4>
                    <img src="/assets/images/packages/p1.jpg" class="img-responsive imgPackages">
                    <div class="caption">
                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                                <h3>Platillo 1</h3>
                            </div>
                            <div class="col-md-6 col-xs-6 price">
                                <h3>
                                    <label>$649.99</label>
                                </h3>
                            </div>
                        </div>
                        <ul>
                            <li>Consome</li>
                            <li>Arroz</li>
                            <li>Bistek empanizado</li>
                            <li>Agua de sandia</li>
                            <li>Arroz con leche</li>
                            <li> <a href="#" class="btn btn-success btn-product"><span
                                        class="glyphicon glyphicon-shopping-cart"></span> Agregar</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-3 col-3 m-6">
                <div class="thumbnail">
                    <h4 class="text-center"><span class="label label-info">Especial 2</span></h4>
                    <img src="/assets/images/packages/p2.jpg" class="img-responsive imgPackages">
                    <div class="caption">
                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                                <h3>Platillo 1</h3>
                            </div>
                            <div class="col-md-6 col-xs-6 price">
                                <h3>
                                    <label>$649.99</label>
                                </h3>
                            </div>
                        </div>
                        <ul>
                            <li>Consome</li>
                            <li>Arroz</li>
                            <li>Bistek empanizado</li>
                            <li>Agua de sandia</li>
                            <li>Arroz con leche</li>
                            <li> <a href="#" class="btn btn-success btn-product"><span
                                        class="glyphicon glyphicon-shopping-cart"></span> Agregar</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-3 col-3 m-6">
                <div class="thumbnail">
                    <h4 class="text-center"><span class="label label-info">Especial 3</span></h4>
                    <img src="/assets/images/packages/p3.jpg" class="img-responsive imgPackages">
                    <div class="caption">
                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                                <h3>Platillo 1</h3>
                            </div>
                            <div class="col-md-6 col-xs-6 price">
                                <h3>
                                    <label>$649.99</label>
                                </h3>
                            </div>
                        </div>
                        <ul>
                            <li>Consome</li>
                            <li>Arroz</li>
                            <li>Bistek empanizado</li>
                            <li>Agua de sandia</li>
                            <li>Arroz con leche</li>
                            <li> <a href="#" class="btn btn-success btn-product"><span
                                        class="glyphicon glyphicon-shopping-cart"></span> Agregar</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <br>
        <br>


        <div class="row" style="text-align:left ;">
            <div class="col-4">
                <table class="table" style="width: 100%;">
                    <tbody>
                        <tr>
                            <td style="width: 180px;">
                                Sopa de pasta <br>
                                <label style="font-size: 12px;">sopa de pasta con guisado</label>
                            </td>
                            <td>
                                $100.00 <br>
                            </td>
                            <td>
                                <input type="checkbox">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Sopa de pasta
                                <label style="font-size: 12px;">sopa de pasta con guisado</label>
                            </td>
                            <td>
                                $100.00
                            </td>
                            <td>
                                <input type="checkbox" class="m-6">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Sopa de pasta
                            </td>
                            <td>
                                $100.00
                            </td>
                            <td>
                                <input type="checkbox" class="chkProduct">
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="col-4">
                <table class="table">
                    <tbody>
                        <tr>
                            <td style="width: 180px;">
                                Sopa de pasta <br>
                                <label style="font-size: 12px;">sopa de pasta con guisado</label>
                            </td>
                            <td>
                                $100.00 <br>
                            </td>
                            <td>
                                <input type="checkbox">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Sopa de pasta
                                <label style="font-size: 12px;">sopa de pasta con guisado</label>
                            </td>
                            <td>
                                $100.00
                            </td>
                            <td>
                                <input type="checkbox" class="m-6">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Sopa de pasta
                            </td>
                            <td>
                                $100.00
                            </td>
                            <td>
                                <input type="checkbox" class="chkProduct">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-4">
                <table class="table">
                    <tbody>
                        <tr>
                            <td style="width: 180px;">
                                Sopa de pasta <br>
                                <label style="font-size: 12px;">sopa de pasta con guisado</label>
                            </td>
                            <td>
                                $100.00 <br>
                            </td>
                            <td>
                                <input type="checkbox">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Sopa de pasta
                            </td>
                            <td>
                                $100.00
                            </td>
                            <td>
                                <input type="checkbox" class="m-6">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Sopa de pasta
                            </td>
                            <td>
                                $100.00
                            </td>
                            <td>
                                <input type="checkbox" class="chkProduct">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br>
        <br>
        <hr>
        <h3>Productos seleccionados para ordenar</h3>
        <div class="row">
            <div class="col-3">

            </div>
            <div class="col-6">
                <table class="table" style="width: 100%;">
                    <tbody>
                        <tr>
                            <td style="width: 180px;">
                                Sopa de pasta <br>
                                <label style="font-size: 12px;">sopa de pasta con guisado</label>
                            </td>
                            <td>
                                $100.00 <br>
                            </td>
                            <td>
                                <input type="checkbox">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Sopa de pasta
                                <label style="font-size: 12px;">sopa de pasta con guisado</label>
                            </td>
                            <td>
                                $100.00
                            </td>
                            <td>
                                <input type="checkbox" class="m-6">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Sopa de pasta
                            </td>
                            <td>
                                $100.00
                            </td>
                            <td>
                                <input type="checkbox" class="chkProduct">
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="col-3">

            </div>
        </div>
        <br>
        <br>
        <hr>
        <div class="row" style="text-align:left">
            <div class="col-3">
                <div class="form-group">
                    <label for="">Teléfono</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Hora de entrega</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Tipo de pago</label>
                    <select name="" id="" class="form-control">
                        <option value="">Tarjeta</option>
                        <option value="">Efectivo</option>
                        <option value="">Credito</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="">Recoger en sucursal?</label>    &nbsp; &nbsp;              
                    <input type="checkbox">
                </div>
            </div>
            <div class="col-5">
               <h2>Gracias por ser nuestro cliente</h2>
                <br>
                <label for="">Omar ceron ochoa</label>
                <br>
                <label for="">omarbs13@gmail.com</label>
                <br>
                <label for="">Saldo: $ 100.00</label>
            </div>
        </div>
    </div>
    <div class="card-footer text-muted">
        <div style="text-align: right;">
            <button type="button" class="btn btn-danger" >Cancelar</button>&nbsp; &nbsp;
            <button class="btn btn-success" >Hacer pedido</button>
          </div>
      
    </div>
</div>