<div class="card text-center">
    <div class="card-header">
        <h2 class="card-title">Menú del día</h2>
        <select class="form-select" #select (change)="changeDishes($event.target)">
            <option selected value="0">Todas</option>
            <option [value]="item.subsidiaryId" *ngFor="let item of subsList">{{item.subsidiaryName}}</option>
        </select>
    </div>
    <div class="card-body">

        <div class="row">
            <div class="col-md-3 col-xs-3 col-3 m-6" *ngFor="let item of packageList">
                <div class="thumbnail">
                    <h4 class="text-center"><span class="label label-info">{{item.packageName}}</span></h4>
                    <img [src]="getPath(item.img)" class="img-responsive imgPackages">
                    <div class="caption">
                        <div class="row">
                            <div class="col-md-12 col-xs-12 price">
                                <h3>
                                    <label style="font-size:large; color:green">{{item.price|currency}}</label>
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-xs-12">
                                <h3>{{item.description}}</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-xs-12">
                                <ul>
                                    <li *ngFor="let prod of item.products">{{prod.productName}}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-xs-12">
                                <button class="btn btn-primary" (click)="addDish(item)" style="height:42px ;"
                                    type="button"> <em class="mdi mdi-image-plus"></em> Agregar</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>

        <h2>Nuestros productos</h2>

        <div class="row">
            <div class="col-4" style="text-align:left ;" *ngFor="let item of productList">
                <div class="row">
                    <div class="col-4"> {{item.productName}}</div>
                    <div class="col-4"> {{item.salePrice|currency}}</div>
                    <div class="col-4">
                        <em class="mdi mdi-arrow-down-bold-circle"
                            style="cursor: pointer; color:green; font-size: large;" title="Agregar"
                            (click)="addProduct(item)"></em>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <hr>
        <h2>Productos seleccionados para ordenar</h2>
        <div class="row">
            <div class="col-12">
                <table class="table" style="width: 100%; text-align:left ;">
                    <thead>
                        <tr>
                            <th>
                                Producto
                            </th>
                            <th>
                                Cantidad
                            </th>
                            <th>
                                Precio
                            </th>
                            <th>
                                Total
                            </th>
                            <th>
                                Remover
                            </th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr *ngFor="let item of orderList">
                            <td>
                                {{item.product}} <br>
                                <label style="font-size: 12px;">{{item.desc}}</label>
                            </td>
                            <td style="width: 100px ;">
                                <input type="text" class="form-control" [value]="item.cantidad" #cant
                                    (blur)="calculate($event.target,item)">
                            </td>
                            <td style="width: 180px;">
                                {{item.price|currency}} <br>
                            </td>
                            <td style="width: 180px;">
                                {{item.total|currency}} <br>
                            </td>
                            <td style="width: 100px;">
                                <button type="button" class="btnDelete" title="borrar" (click)="delete(item.packageId)"><em
                                        class="mdi mdi-trash-can icon"></em></button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr style="text-align: right;">
                            <td>Total</td>
                            <td> </td>
                            <td>${{orderPrice}} </td>
                            <td></td>
                            <td> </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-3">

            </div>

        </div>
        <br>
        <br>
        <hr>
        <form [formGroup]="orderForm" (ngSubmit)="onSubmit()" autocomplete="off">
            <div class="row" style="text-align:left">
                <div class="col-3">
                    <div class="form-group">
                        <label for="">Teléfono</label>
                        <input type="text" class="form-control" formControlName="phone"  #customerPhone (blur)="getCustomer($event.target)">
                        <div *ngIf="phone?.invalid && (phone?.dirty || phone?.touched)" class="text-danger">
                            <div *ngIf="phone?.errors?.['required']">
                              El teléfono es requerido.
                            </div>
                          </div>
                    </div>
                    <div class="form-group">
                        <label for="">Hora de entrega</label>
                        <input type="time" class="form-control" formControlName="hour">
                        <div *ngIf="hour?.invalid && (hour?.dirty || hour?.touched)" class="text-danger">
                            <div *ngIf="hour?.errors?.['required']">
                              La hora es requerida.
                            </div>
                          </div>
                    </div>
                    <div class="form-group">
                        <label for="">Tipo de pago</label>
                        <select name="" id="" class="form-select" formControlName='paymentTypeId'>
                            <option value="1">Tarjeta</option>
                            <option value="2">Efectivo</option>
                            <option value="3">Credito</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Recoger en sucursal?</label> &nbsp; &nbsp;
                        <input type="checkbox" checked (change)="delivery()">
                    </div>
                </div>
                <div class="col-5">
                    <h2>Gracias por ser nuestro cliente</h2>
                    <div *ngIf="customer.customerId">
                        <br>
                        <label for="">{{customer.customerName}}</label>
                        <br>
                        <label for="">{{customer.email}}</label>
                        <br>
                        <label for="">Saldo: {{customer.balance|currency}}</label>
                    </div>

                </div>
            </div>
            <div class="row" style="text-align:left">
                <div class="col-12">

                    <div class="form-group" *ngIf="isDeliveryMatriz">
                        <label for="">Dirección</label> &nbsp; &nbsp;
                        <input type="text" class="form-control" formControlName='address'>
                        <div *ngIf="isRequired" class="text-danger">
                            <div >
                              La dirección es requerida.
                            </div>
                          </div>
                    </div>
                </div>

            </div>
            <div class="card-footer text-muted">
                <div style="text-align: right;">
                    <button type="button" class="btn btn-danger">Cancelar</button>&nbsp; &nbsp;
                    <button class="btn btn-success" >Hacer pedido</button>
                </div>
        
            </div>
        </form>

    </div>
 
</div>