<table datatable class="row-border hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>First name</th>
            <th>Last name</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Foo</td>
            <td>Bar</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Someone</td>
            <td>Youknow</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Iamout</td>
            <td>Ofinspiration</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Yoda</td>
            <td>Skywalker</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Patrick</td>
            <td>Dupont</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Barack</td>
            <td>Obama</td>
        </tr>
        <tr>
            <td>7</td>
            <td>François</td>
            <td>Holland</td>
        </tr>
        <tr>
            <td>8</td>
            <td>Michel</td>
            <td>Popo</td>
        </tr>
        <tr>
            <td>9</td>
            <td>Chuck</td>
            <td>Norris</td>
        </tr>
        <tr>
            <td>10</td>
            <td>Simon</td>
            <td>Robin</td>
        </tr>
        <tr>
            <td>11</td>
            <td>Louis</td>
            <td>Lin</td>
        </tr>
        <tr>
            <td>12</td>
            <td>Zelda</td>
            <td>Link</td>
        </tr>
    </tbody>
</table>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button>
<!-- Modal -->
<div #exampleModal class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" (click)="save()" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>


  <button type="button" class="btn btn-primary" (click)="open()">
    Launch demo modal
  </button>