  <!-- ====================================
          ——— LEFT SIDEBAR WITH OUT FOOTER
        ===================================== -->
        <aside class="left-sidebar sidebar-dark" id="left-sidebar">
            <div id="sidebar" class="sidebar sidebar-with-footer">
              <!-- Aplication Brand -->
              <div class="app-brand">
                <a href="/index.html">
                  <img src="/assets/images/logo.png" alt="sale">
                  <span class="brand-name">Sale</span>
                </a>
              </div>
              <!-- begin sidebar scrollbar -->
              <div class="sidebar-left" data-simplebar style="height: 100%;">
                <!-- sidebar menu -->
                <ul class="nav sidebar-inner" id="sidebar-menu">                  
                    <li   [routerLink]="['dashboard']" routerLinkActive="active" 
                     >
                      <a  class="sidenav-item-link" >
                        <i class="mdi mdi-briefcase-account-outline"></i>
                        <span class="nav-text">Home</span>
                      </a>
                    </li>                  
                    <li  [routerLink]="['user']" routerLinkActive="active"
                   
                     >
                      <a class="sidenav-item-link" >
                        <i class="mdi mdi-account-settings"></i>
                        <span class="nav-text">Usuarios</span>
                      </a>
                    </li>
                  
                      <li [routerLink]="['order']" routerLinkActive="active" 
                     >
                      <a class="sidenav-item-link" >
                        <i class="mdi mdi-wechat"></i>
                        <span class="nav-text">Pedidos</span>
                      </a>
                    </li>
                  
                    <li [routerLink]="['sale']" routerLinkActive="active" 
                     >
                      <a class="sidenav-item-link" >
                        <i class="mdi mdi-sale"></i>
                        <span class="nav-text">Ventas</span>
                      </a>
                    </li>                                    
                    <li [routerLink]="['provider']" routerLinkActive="active" 
                     >
                      <a class="sidenav-item-link" >
                        <i class="mdi mdi-account-group"></i>
                        <span class="nav-text">Proveedores</span>
                      </a>
                    </li>

                    <li [routerLink]="['customer']" routerLinkActive="active" 
                    >
                     <a class="sidenav-item-link" >
                       <i class="mdi mdi-folder-account"></i>
                       <span class="nav-text">Clientes</span>
                     </a>
                   </li>
                   <li [routerLink]="['product']" routerLinkActive="active" 
                   >
                    <a class="sidenav-item-link" >
                      <i class="mdi mdi-calendar-check"></i>
                      <span class="nav-text">Productos</span>
                    </a>
                  </li>
                  <li [routerLink]="['subsidiary']" routerLinkActive="active" 
                   >
                    <a class="sidenav-item-link" >
                      <i class="mdi mdi-store"></i>
                      <span class="nav-text">Surcusal</span>
                    </a>
                  </li>
                  <li [routerLink]="['package']" routerLinkActive="active" 
                  >
                   <a class="sidenav-item-link" >
                     <i class="mdi mdi-package"></i>
                     <span class="nav-text">Package</span>
                   </a>
                 </li>
                 <li [routerLink]="['currentMenu']" routerLinkActive="active" 
                 >
                  <a class="sidenav-item-link" >
                    <i class="mdi mdi-package"></i>
                    <span class="nav-text">Platillos del día</span>
                  </a>
                </li>
                </ul>
  
              </div>  
            
            </div>
          </aside>
  
        