  <!-- ====================================
          ——— LEFT SIDEBAR WITH OUT FOOTER
        ===================================== -->
        <aside class="left-sidebar sidebar-dark" id="left-sidebar">
            <div id="sidebar" class="sidebar sidebar-with-footer">
              <!-- Aplication Brand -->
              <div class="app-brand">
                <a href="/index.html">
                  <img src="/assets/images/logo.png" alt="sale">
                  <span class="brand-name">Sale</span>
                </a>
              </div>
              <!-- begin sidebar scrollbar -->
              <div class="sidebar-left" data-simplebar style="height: 100%;">
                <!-- sidebar menu -->
                <ul class="nav sidebar-inner" id="sidebar-menu">                  
                    <li   [routerLink]="['dashboard']" routerLinkActive="active" 
                     >
                      <a  class="sidenav-item-link" >
                        <i class="mdi mdi-briefcase-account-outline"></i>
                        <span class="nav-text">Home</span>
                      </a>
                    </li>                  
                    <li  [routerLink]="['user']" routerLinkActive="active"
                   
                     >
                      <a class="sidenav-item-link" >
                        <i class="mdi mdi-account-settings"></i>
                        <span class="nav-text">Usuarios</span>
                      </a>
                    </li>
                  
                      <li [routerLink]="['order']" routerLinkActive="active" 
                     >
                      <a class="sidenav-item-link" >
                        <i class="mdi mdi-wechat"></i>
                        <span class="nav-text">Pedidos</span>
                      </a>
                    </li>
                  
                    <li [routerLink]="['sale']" routerLinkActive="active" 
                     >
                      <a class="sidenav-item-link" >
                        <i class="mdi mdi-phone"></i>
                        <span class="nav-text">Ventas</span>
                      </a>
                    </li>
                                    
                    <li [routerLink]="['inventory']" routerLinkActive="active" 
                     >
                      <a class="sidenav-item-link" >
                        <i class="mdi mdi-account-group"></i>
                        <span class="nav-text">Inventarios</span>
                      </a>
                    </li>
                                    
                    <li [routerLink]="['provider']" routerLinkActive="active" 
                     >
                      <a class="sidenav-item-link" >
                        <i class="mdi mdi-calendar-check"></i>
                        <span class="nav-text">Proveedores</span>
                      </a>
                    </li>

                    <li [routerLink]="['customer']" routerLinkActive="active" 
                    >
                     <a class="sidenav-item-link" >
                       <i class="mdi mdi-calendar-check"></i>
                       <span class="nav-text">Clientes</span>
                     </a>
                   </li>
                
                  
                </ul>
  
              </div>  
            
            </div>
          </aside>
  
        