
<h1 mat-dialog-title>Gastos de el proveedor: {{titleModal}}</h1>
<hr>
<div mat-dialog-content>
    <table class="table">
        <thead>
            <th>Descripción</th>
            <th>Costo</th>
            <th>Productos</th>
            <th>Fecha</th>
        </thead>
        <tbody>
            <tr *ngFor="let item of expenses">
                <td>{{item.description}}</td>
                <td>{{item.total|currency}}</td>
                <td>{{item.totalProducts}}</td>
                <td>{{item.dateExpense}}</td>
            </tr>
        </tbody>
    </table> 
  <hr>
  <div style="text-align: right;">
    <button type="button" class="btn btn-danger" (click)="onCancel()">Cancelar</button>&nbsp; &nbsp;
  </div>
</div>
