<div class="card text-center">
    <div class="card-header">
        <h2 class="card-title">Ventas</h2>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInput" placeholder="">
                    <label for="floatingInput">Codigo del producto</label>
                </div>
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-outline-primary" style="height:60px;">
                    <em style="font-size:x-large ;" class="mdi mdi-search-web"></em>  Buscar
                </button>
            </div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>           
        </div>
        <hr>
        <div class="row">
            <div class="col-1"> <button type="button" class="btn btn-outline-primary">Buscar</button></div>
            <div class="col-2"> <button type="button" class="btn btn-outline-primary">Platillos</button></div>
            <div class="col"> </div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
        <hr>
        <div class="row" style="min-height: 300px;">
            <div class="col-12">
                <table class="table">
                    <thead>
                        <th>Codigo</th>
                        <th>Producto</th>
                        <th>Precio venta</th>
                        <th>Cantidad</th>
                        <th>Importe</th>
                        <th>Stock</th>
                        <th>Es pquete</th>
                    </thead>
                    <tbody>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tbody>
                </table>

            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col"> <button type="button" class="btn btn-outline-primary">Pendiente</button></div>
            <div class="col"> <button type="button" class="btn btn-outline-primary">Cancelar</button></div>
            <div class="col"> <button type="button" class="btn btn-outline-primary">Asignar</button></div>
            <div class="col"></div>

            <div class="col">
                <button type="button" class="btn btn-outline-success" style="height: 60px;">
                    <em style="font-size:x-large ;" class="mdi mdi-cash"></em>  Cobrar</button>
            </div>
            <div class="col" style="background-color:gainsboro ; font-size:xx-large;">
                <br>
                <label><strong>$ 0.00</strong> </label>
            </div>
        </div>

    </div>
    <div class="card-footer text-muted">

    </div>
</div>