<h1 mat-dialog-title>Usuario</h1>
<hr>
<div mat-dialog-content>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="userName">Nombre de usuario</label>
      <input [readonly]="!isNewUser" type="text" class="form-control" formControlName="userName" placeholder="usuario123">
      <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="text-danger">
        <div *ngIf="name?.errors?.['required']">
          El nombre de usuario es requerido.
        </div>     
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" formControlName="password" placeholder="paswword">
      <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="text-danger">
        <div *ngIf="password?.errors?.['required']">
          El password es requerido.
        </div>     
      </div>
    </div>
    <div class="form-group">
      <label for="rolId">Rol</label>
      <select class="form-control" formControlName="rolId" >
        <option *ngFor="let item of rolesLst" value="{{item.id}}">{{item.name}}</option>
      </select>
    </div>   
    <hr>
    <div style="text-align: right;">
      <button type="button" class="btn btn-danger" (click)="onCancel()">Cancelar</button>&nbsp; &nbsp;
      <button class="btn btn-success" [disabled]="!userForm.valid">Guardar</button>
    </div>

  </form>
</div>