<div class="card text-center">
    <div class="card-header">
        <h2 class="card-title">Sucursales</h2>
    </div>
    <div class="card-body">
        <div style=" text-align: right;">
            <div class="btn-group" role="group" aria-label="Basic outlined example">
                <button type="button" class="btn btn-outline-primary" (click)="open(0,0)">Nuevo</button>
                <button type="button" class="btn btn-outline-primary" (click)="exportExcel()"><em
                        class="mdi mdi-file-download-outline icon"></em>Descargar</button>
            </div>
        </div>
        <p-table #dt [value]="subsidiaries" styleClass="p-datatable-striped" responsiveLayout="scroll" [paginator]="true"
            [rows]="20" [showCurrentPageReport]="true"
            currentPageReportTemplate="{totalRecords} sucursales"
            [rowsPerPageOptions]="[10,25,50]" [exportHeader]="'customExportHeader'">

            <ng-template pTemplate="header">
                <tr>
                    <th>Sucursal</th>
                    <th>Supervisor</th>
                    <th>Teléfono</th>
                    <th>Calle</th>
                    <th>Estado</th>
                    <th>Ciudad</th>
                    <th>Código postal</th>
                    <th class="tblActions"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr>
                    <td>{{item.subsidiaryName}}</td>
                    <td>{{item.managerName}}</td>
                    <td>{{item.phone}}</td>
                    <td>{{item.street}}</td>                    
                    <td>{{item.state}}</td>
                    <td>{{item.cityName}}</td>
                    <td>{{item.zipCode}}</td>
                    <td>
                        <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group me-2" role="group" aria-label="First group">                               
                                <button type="button" class="btnEdit" title="editar"
                                    (click)="open(item.subsidiaryId,item.stateId)"><em class="mdi mdi-lead-pencil"></em></button>&nbsp;&nbsp;
                                <button type="button" class="btnDelete" title="borrar"
                                    (click)="delete(item.subsidiaryId)"><em class="mdi mdi-trash-can icon"></em></button>
                            </div>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>


    </div>
    <div class="card-footer text-muted">

    </div>
</div>