 <!-- ====================================
        ——— LEFT SIDEBAR WITH OUT FOOTER
      ===================================== -->
   <app-sidebar></app-sidebar>

    <!-- ====================================
    ——— PAGE WRAPPER
    ===================================== -->
    <div class="page-wrapper">

      <!-- Header -->
     <app-header></app-header>

      <!-- ====================================
      ——— CONTENT WRAPPER
      ===================================== -->
      <div class="content-wrapper">
        <div class="content" style="min-height: 600px;">
          <!-- Top Statistics -->
          <div class="row">
            <div class="col-12">
              <router-outlet></router-outlet>
            </div>
     
          </div>
        </div>

      </div>

      <!-- Footer -->
      <app-footer></app-footer>

    </div>


  