<h1 mat-dialog-title>{{customerName}} puedes liquidar tu adeudo con:{{liquidate|currency}}</h1>
<hr>
<div mat-dialog-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
        <div class="row">
            <div class="col-2">

            </div>
            <div class="col-8">
                <div class="form-group">
                    <mat-form-field appearance="legacy" style="width:100% ;">
                        <mat-label>Créditos</mat-label>
                        <mat-select required="" #selectList (selectionChange)="getAmmount($event.value)">
                            <mat-option *ngFor="let item of credits" [value]="item.creditCustomerId">Folio de venta: {{item.folio}} total:                                 {{item.cost|currency}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-2">

            </div>
        </div>
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-3">
                <div class="form-group">
                    <mat-form-field appearance="legacy" style="width:100% ;">
                        <mat-label for="payment">Total a abonar</mat-label>
                        <input matInput type="number" formControlName="payment" [value]="liquidate"
                            (keyup)="calculaCambio()" min="1" max="999999">
                    </mat-form-field>
                    <div *ngIf="payment?.invalid && (payment?.dirty || payment?.touched)" class="text-danger">
                        <div *ngIf="payment?.errors?.['required']">
                            El total es requerido.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
            </div>
            <div class="col-3">
                <div class="form-group">
                    <mat-form-field appearance="legacy" style="width:100% ;">
                        <mat-label>Cambio</mat-label>
                        <input matInput type="text" value="{{cambio}}" readonly="true" maxlength="50">
                    </mat-form-field>
                </div>
            </div>
            <div class="col-2">

            </div>
        </div>
        <div class="row">
          
            <div class="col-3">
            </div>
            <div class="col-3">
                <div class="form-check form-switch">
                    <input #chkCash class="form-check-input" (change)="checkCash()" type="checkbox" role="switch"
                        id="1" checked>
                    <label class="form-check-label" for="flexSwitchCheckChecked">Efectivo</label>
                </div>
            </div>
            <div class="col-2">
            </div>
            <div class="col-3">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" (change)="checkCard()" role="switch" id="2">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Tarjeta</label>
                </div>
            </div>
            <div class="col-1">

            </div>
        </div>
        <div class="row">
            <div class="col-2">

            </div>
            <div class="col-8">
                <div class="form-group">
                    <mat-form-field appearance="legacy" *ngIf="ckhCard" style="width:100% ;">
                        <mat-label for="ref">Referencia</mat-label>
                        <input matInput type="text" formControlName="numericReference" maxlength="20">
                    </mat-form-field>
                </div>
            </div>
            <div class="col-2">

            </div>
        </div>
        <hr>
        <div style="text-align: right;">
            <button type="button" class="btn btn-danger" (click)="onCancel()">Cancelar</button>&nbsp; &nbsp;
            <button class="btn btn-success" [disabled]="!form.valid">Guardar</button>
        </div>

    </form>
</div>